/* generali */
* {
    padding: 0;  
    margin: 0;
    box-sizing: border-box;
}
  
[class*="col"] {
    min-height: 50px;
    background-color: rgb(166, 255, 0);
    border: 1px solid black;
}

  /* header */

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}
  
  /* barra nera sony */
.barra-logo {
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.barra-logo img {
    width: 60px;
    margin-right: 10px;
}

  /* nav */


  /* nav destra */

.btn-secondary {
    margin: 0 10px;
    border-radius: 25px;
}
.search img {
    width: 35px;
}

  /* jumbo */
.jumbo-sfondo {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 675px;
    width: 100%;
    margin-top: 110px;
}

.testo {
    color: white;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    
}

.title-game {
    width: 274px;
    margin-bottom: 50px;
}

.title-description {
    margin-bottom: 30px;
    width: 275px;
}

.description {
    width: 283px;
}

.orange {
    background-color: orange;
    width: 158px;
    color: #ffffff;
    margin-bottom: 50px;
}

/* giochi */

.giochi {
    margin-top: 30px;
}

.giochi img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* playstation */
#play-centro {
    margin-top: 80px;
    text-align: center;
}

#play-centro h3 {
    font-size: 15px;
    color: rgb(0, 140, 255);
}
#play-centro h4 {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(128, 128, 128);
}

.text-play {
    display: flex;
    align-items: center;
}

.play {
    display: flex;
    justify-content: center;
}
.blu {
    background-color: blue;
    color: white;
}

.ps5 {
    width: 75%;
}

.center {
    display: flex;
    justify-content: center;
}

/* items */

.items {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.blubottom {
    border-bottom: 1px solid blue;
}
.mini-items {
    width: 100px;
    height: 100px;
}
.mini-items img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* it takes two */
.game2-sfondo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 675px;
    width: 100%;
    margin-top: 110px;
}

.testo {
    color: white;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    
}

.title-game {
    width: 274px;
    margin-bottom: 50px;
}

.title-description {
    margin-bottom: 30px;
    width: 275px;
}

.description {
    width: 283px;
}

.orange {
    background-color: orange;
    width: 158px;
    color: #ffffff;
    margin-bottom: 50px;
}

/* giochi  */

#sfondo-giochi {
    background-color: rgb(49, 49, 49);
    min-height: 515px;
}

.quadrato {
    width: 150px;
    height: 150px;
}

.quadrato img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.col h5 {
    color: white;
    font-size: 15px;
}

.titolo h1,h2 {
    color: white;
}

