/* generali */
* {
    padding: 0;  
    margin: 0;
    box-sizing: border-box;
}
  
[class*="col"] {
    min-height: 50px;
    background-color: rgb(166, 255, 0);
    border: 1px solid black;
}

  /* header */

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}
  
  /* barra nera sony */
.barra-logo {
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.barra-logo img {
    width: 60px;
    margin-right: 10px;
}

  /* nav */


  /* nav destra */

.btn-secondary {
    margin: 0 10px;
    border-radius: 25px;
}
.search img {
    width: 35px;
}

  /* jumbo */
.jumbo-sfondo {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 675px;
    width: 100%;
    margin-top: 110px;
}

.testo {
    color: white;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    
}

.title-game {
    width: 274px;
    margin-bottom: 50px;
}

.title-description {
    margin-bottom: 30px;
    width: 275px;
}

.description {
    width: 283px;
}

.orange {
    background-color: orange;
    width: 158px;
    color: #ffffff;
    margin-bottom: 50px;
}

/* giochi */

.giochi {
    margin-top: 30px;
}

.giochi img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* playstation */
.play-centro {
    margin-top: 80px;
    text-align: center;
}

.play-centro h3 {
    font-size: 15px;
    color: rgb(0, 140, 255);
}
.play-centro h4 {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(128, 128, 128);
}

.text-play {
    display: flex;
    align-items: center;
}

.play {
    display: flex;
    justify-content: center;
}
.blu {
    background-color: blue;
    color: white;
}

.ps5 {
    width: 75%;
}

.center {
    display: flex;
    justify-content: center;
}

/* items */

.items {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.blubottom {
    border-bottom: 1px solid blue;
}
.mini-items {
    width: 100px;
    height: 100px;
}
.mini-items img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* it takes two */
.game2-sfondo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 675px;
    width: 100%;
    margin-top: 110px;
}

.testo {
    color: white;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    
}

.title-game {
    width: 274px;
    margin-bottom: 50px;
}

.title-description {
    margin-bottom: 30px;
    width: 275px;
}

.description {
    width: 283px;
}

.orange {
    background-color: orange;
    width: 158px;
    color: #ffffff;
    margin-bottom: 50px;
}

/* giochi  */

#sfondo-giochi {
    background-color: rgb(49, 49, 49);
    min-height: 515px;
}

.quadrato {
    width: 150px;
    height: 150px;
}

.quadrato img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.col h5 {
    color: white;
    font-size: 15px;
}

.titolo h1,h2 {
    color: white;
}

/* ps4 */

.ps4 {
    width: 295px;
    height: 150px;
}

.ps4 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* playstation plus */
.sfondo-plus {
    background-color: rgb(179, 177, 177);
    margin-top: 50px;
}


.plus {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.plus h3 {
    font-size: 17px;
}
.img-plus {
    width: 70%;
}
.img-plus img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.grigio {
    background-color: lightgray;
    color: blue;

}


.img-sconti {
    width: 70%;
    
}
.img-sconti img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* nuovi sconti */
.img-nuovi-sconti {
    width: 301px;
    height: 301px;
    margin: 10px 0;
    
}
.img-nuovi-sconti img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nuovi-sconti {
    display: flex;
    justify-content: center;
}

/* play now */
.sfondo-now {
    background-color: rgb(17, 15, 134);
    margin-top: 50px;
}

.bianco {
    background-color: white;
    color: black;
}

.img-now {
    width: 70%;
    
}
.img-now img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img-now-grande {
    width: 70%;
}
.img-now-grande img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* media query */
@media all and (max-width: 575px) {
    .scomparire {
        display: none;
    }
}

/* social */
#social-text {
    margin: 20px auto;
    text-align: center;

}

.quadrato-social {
    width: 70%;
    margin: 10px 0;
}
.quadrato-social img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* footer */
#sfondo-footer {
    background-color: blue;
}

.svg {
    filter: brightness(0) invert(1);
    width: 28%;
}
#sfondo-footer .container .row .col nav ul li a {
    color: white;
    text-decoration: none;
}

#sfondo-footer .container .row .col nav ul li {
    list-style-type: none;
}
